extends layout

block content
    script
        include ../public/js/script.js
        
    div(contenteditable='true', id='name')
        name= data.title
    div(contenteditable='true', id='text')
        p
        text= data.text
    br
    div
        form(name="editPicture")
            label(for="picture") Load picture
                input(type="file" id="editPicture" name="photo" multiple accept="image/*,image/jpeg")
        button(type='button' onclick=`editP('/publications/edit/${data.id}')`) Save changes