doctype html
html
  head
    title= title
  body
    if logged
      a(href="/") Main
      a(href="/auth/logout") Logout
    else 
      a(href="/auth/register") Registration  
      form(action="/auth/login", method="post")
        label(for="email") E-mail: 
          input(type="email", id="email", name="email")
        label(for="password") Password: 
          input(type="password", id="password", name="password")
        button(type="submit", name="buttonLogin") Login
    block content