extends layout

block content
    form(action="/publications/add", method="post", enctype="multipart/form-data")
        ul
            p
                label(for="articleName") Title 
                    input(type="text", id="arcticleName", name="articleName")
            p
                label(for="article") Text
                    textarea(type="text", id="article", name="article", rows="10")
            p
                label(for="picture") Load picture
                    input(type="file" name="images" multiple accept="image/*,image/jpeg")
        button(type="submit", id="submitButton" name="buttonPost") Enter
    