html
  head
    title Registation form
  body
    form(action="/auth/register", method="post")
      ul
        li
          label(for="nickname") Nikname: 
            input(type="text", id="nickname", name="nickname")
        li
          label(for="email") E-mail: 
            input(type="email", id="email", name="email")
        li
          label(for="password") Password: 
            input(type="password", id="password", name="password")
      button(type="submit", name="buttonRegister") Enter 

