extends layout

block content
    name= data.title
    p
    text= data.text
    p
    date= data.created_at
        
    script
        include ../public/js/script.js
        

    button(type='button', onclick=`deleteP('/publications/${data.id}')`) Delete
    button(type='button', onclick=`goToEditP('/publications/edit/${data.id}')`) Edit

    
